@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /* ### Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* ### Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

/* ====================== UNIVERSAL ====================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500; /*500, 700, 900  */
  height: 100vh;
  min-width: 370px;
  background-color: var(--very-pale-blue);

  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 15px;
  color: var(--dark-blue);
  font-weight: 900;
}

h4 {
  margin-bottom: 5px;
  color: var(--dark-blue);
  font-weight: 900;
}

p {
  color: var(--desaturated-blue);
}

.background {
  position: fixed;
  z-index: -1;
}

.btn {
  margin-bottom: 20px;
  border: unset;
  background-color: unset;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

/* ====================== HERO ====================== */

.container {
  max-height: 100%;
  width: 400px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.07);
  border-radius: 15px;

  text-align: center;
}

.hero svg {
  max-width: 100%;

  border-radius: 15px 15px 0 0;
  margin-bottom: 30px;
}

/* ====================== ORDER SUMMARY ====================== */

.summary {
  padding: 0 40px;
  margin-bottom: 20px;
}

.summary p {
  line-height: 1.4;
}

/* ====================== ANNUAL PLAN ====================== */
.plan {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 30px 20px;
  padding: 15px;
  background-color: var(--very-pale-blue);

  border-radius: 15px;
  font-size: 90%;
}

.price {
  flex-grow: 1;
  text-align: left;
}

.change {
  color: var(--bright-blue);
}

.change:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.8);
}

/* ====================== PAYMENT ====================== */
.payment {
  background-color: var(--bright-blue);
  color: #fff;
  width: 85%;

  border-radius: 15px;
  padding: 15px 0;
  box-shadow: 0px 15px 10px 5px hsla(245, 75%, 52%, 0.1);
}

.payment:hover {
  background-color: hsla(245, 75%, 52%, 0.8);
}

/* ====================== CANCEL ====================== */
.cancel {
  color: var(--desaturated-blue);
  margin-bottom: 30px;
}

.cancel:hover {
  color: hsl(226, 34%, 34%);
}

/* ====================== FOOTER ====================== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  .background {
    display: none;
  }

  .container {
    max-width: 80%;
    max-height: 100dvh;
  }

  .hero svg {
    height: auto;
  }
}
